.col-content {
  line-height: 1.4;
}

dl.tsd-comment-tags * ~ p {
  margin: 1em 0;
}

.col-content a:has(> :is(h1, h2, h3, h4, h5, h6)):before {
  content: "";
  display: block;
  margin-top: 2em;
}

.col-content p + pre,
.col-content :is(h1, h2, h3, h4, h5, h6) + pre {
  margin-bottom: 2em;
}

.col-content a {
  color: #0083e6;
}
