dl.tsd-comment-tags * ~ p {
  margin: 1em 0;
}

/*dl.tsd-comment-tags p {
  margin: 1em 0;
}

dl.tsd-comment-tags dt {
  margin-top: 2em;
  margin-bottom: 1em;
}

dl.tsd-comment-tags dd {
  margin-top: 1.75em;
  margin-bottom: 1em;
}

dl.tsd-comment-tags dd p:first-child:last-child {
  margin: 0;
}
*/
